<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.initzero.honeywell" 
        version="0.1.0">
    <name>HoneywellScanner</name>
    <description>Honeywell Scanner Plugin</description>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/honeywell.js" name="HoneywellScannerPlugin">
        <clobbers target="plugins.honeywell" />
    </js-module>

    <!--android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HoneywellScannerPlugin">
                <param name="android-package" value="com.initzero.honeywell.HoneywellScannerPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
        </config-file>
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/libs/hedc_usb_com.aar" target-dir="libs/" />
        <source-file src="src/android/HoneywellScannerPlugin.java" target-dir="src/com/initzero/honeywell" />
    </platform>
</plugin>